<h1>Editar producto "{{name}}"</h1>
<div id="error"></div>
<input  placeholder="Nombre" type="text" id="editName" value={{name}}></input>
<input  placeholder="Precio" type="number" id="editPrice" value={{price}}></input>
<button id="edit">Enviar</button>